// SCSS Varibles
//
// Fonts
$main-font: 'Open Sans',
sans-serif;
$ftz-24: 24px;
$ftz-20: 20px;
$ftz-18: 18px;
$nav-16: 16px;
$link-14: 14px;
$ftz-12: 12px;
//
// Colors
$main-white: #fff;
$secondary-white: #eee;
$main-orange: #fbba00;
$secondary-orange: #ef7c00;
$main-grey: #9c9d9d;
$secondary-grey: #6f6f6e;
$main-black: #333;
//
// Browser Settings
::placeholder {
  color: $secondary-grey;
}

::selection {
  background-color: $secondary-white;
  color: $main-orange;
}

body {
  font-family: $main-font;
  background-color: $main-white;
}

input,
textarea {
  border: $secondary-grey 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: $main-grey;
  }
  &:required:valid {
    border-color: $secondary-orange;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

#carouselExampleIndicators {
  width: 100%;
}

.textura {
  background: url(../img/layers/texture.png) $main-white repeat;
  width: 100%;
  height: 10px;
}

.link {
  @include text-normal(normal);
  color: $secondary-orange;
  font-size: 15px;
  line-height: 21px;
  transition: 0.3s ease;
  &:hover {
    text-decoration: none;
    color: $main-black;
  }
}

.caption {
  @include text-normal(normal);
  display: inline-block;
  color: $secondary-grey;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  margin: 20px 0px;
  margin-right: 10px;
}

.headline {
  @include text-normal(normal);
  @include text-normal(normal);
  display: inline-block;
  color: $secondary-grey;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  margin: 30px 0px;
  padding: 10px 0px;
  border-bottom: 3px solid $secondary-orange;
  i {
    font-size: 0.7em;
    margin-left: 0.3em;
  }
}

.subject {
  color: $secondary-grey;
  font-size: 20px;
  font-weight: 100;
  line-height: 22px;
  padding-bottom: 5px;
}

.slogan {
  text-align: center;
  padding: 40px 0px 100px 0px;
  h1 {
    @include text-normal(normal);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: $secondary-grey;
  }
}

.container-border-bottom {
  border-bottom: 1px solid $main-grey;
}

.row-mg-3 {
  margin: 3% 0%;
}

.owl-theme {
  position: relative;
  .owl-dots {
    button {
      outline: none;
    }
  }
  .owl-nav {
    position: absolute;
    top: 5%;
    left: 0;
    font-size: 6em;
    display: block;
    width: 100%;
    height: 0;
    .owl-prev {
      float: left;
      margin-left: -3%;
      cursor: default;
      outline: none;
      span {
        color: $main-orange;
        cursor: pointer;
      }
      &:hover {
        background-color: transparent;
      }
    }
    .owl-next {
      float: right;
      margin-right: -3%;
      background-color: transparent;
      color: $main-orange;
      cursor: default;
      outline: none;
      span {
        color: $main-orange;
        cursor: pointer;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
  .owl-dots {
    margin-top: 30px;
  }
}

.dropdown-toggle {
  outline: none;
  &::after {
    content: '';
    border: 0;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $main-orange;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $secondary-orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  top: 75%;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: $main-white;
  text-decoration: none;
  background-color: $main-orange;
}

.dropdown-content {
  display: none;
  font-family: $main-font;
  font-size: 14px;
  background-color: $main-white;
  position: absolute;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  width: 100%;
  text-align: center;
  a {
    color: $main-black !important;
    cursor: pointer;
    transition: 0.3s ease;
    @include text-normal(normal);
    &:hover {
      color: $main-orange !important;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.custom-select {
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-size: $ftz-18;
  cursor: pointer;
  @include text-normal(normal);
  &:focus {
    box-shadow: unset;
  }
  option {
    outline: none;
    background-color: $secondary-grey;
  }
}

//
/*================================
           Navbar
================================*/

.navbar {
  background-color: $secondary-grey;
  color: $secondary-white;
  font-size: $nav-16;
  .navbar-brand {
    margin-right: 30px;
    img {
      height: 40px;
      margin: 7.5px 0;
    }
  }
  .navbar-toggler {
    &:focus {
      outline-color: transparent;
    }
    .navbar-toggler-icon {
      background-image: url('../img/layers/menu.svg');
      &:focus {
        outline-color: transparent;
      }
    }
  }
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $secondary-white;
          transition: 0.3s ease;
          @include text-normal(normal);
          &:hover {
            color: $main-orange;
          }
          .show {
            color: $main-white;
          }
        }
        .dropdown-menu {
          display: block;
          visibility: hidden;
          margin-top: 10px;
          .dropdown-item {
            font-size: $ftz-12;
          }
          &::before {
            display: inline-block;
            position: absolute;
            top: -15px;
            left: 15%;
            width: 15px;
            height: 15px;
            content: '';
            border-top: 0;
            border-right: 0.5em solid transparent;
            border-bottom: 0.5em solid;
            border-left: 0.5em solid transparent;
            color: $main-white;
          }
        }
        &:hover .dropdown-menu {
          display: block;
          visibility: visible;
          transition: 0.3s ease;
        }
      }
    }
  }
}