// Fonts
$main-font: "Open Sans", sans-serif;
$font-size-24px: 24px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;
//
// Colors
$main-white: #fff;
$secondary-white: #eee;
$main-orange: #fbba00;
$secondary-orange: #ef7c00;
$main-grey: #9c9d9d;
$secondary-grey: #6f6f6e;
$main-black: #333;
//
// Tools
$transparent: rgba(0, 0, 0, 0.01);
