// SCSS Varibles
//
// Fonts
$main-font: 'Open Sans', sans-serif;
$ftz-24: 24px;
$ftz-20: 20px;
$ftz-18: 18px;
$nav-16: 16px;
$link-14: 14px;
$ftz-12: 12px;
//
// Colors
$main-white: #fff;
$secondary-white: #eee;
$main-orange: #fbba00;
$secondary-orange: #ef7c00;
$main-grey: #9c9d9d;
$secondary-grey: #6f6f6e;
$main-black: #333;
//
// Tools
$transparent: rgba(0, 0, 0, 0.01);