// SCSS Varibles
//
// Fonts
$main-font: 'Open Sans',
sans-serif;
$ftz-24: 24px;
$ftz-20: 20px;
$ftz-18: 18px;
$nav-16: 16px;
$link-14: 14px;
$ftz-12: 12px;
//
// Colors
$main-white: #fff;
$secondary-white: #eee;
$main-orange: #fbba00;
$secondary-orange: #ef7c00;
$main-grey: #9c9d9d;
$secondary-grey: #6f6f6e;
$main-black: #333;
//
// Tools
$transparent: rgba(0, 0, 0, 0.01);
//  Mixins
@mixin text-normal($norm) {
  font-weight: $norm;
  font-style: $norm;
  font-stretch: $norm;
  line-height: $norm;
  letter-spacing: $norm;
}

//
/*================================
            Libraries
  ================================*/

//
@import 'libs';
/*================================
            Global Styles
  ================================*/

@import 'global';
//
/*================================
          Components
================================*/

//
@import 'components/modal';
@import 'components/preloader';
//
/*================================
          Header
================================*/

.header {
  background-color: $secondary-grey;
}

//
/*================================
           Main Setion
================================*/

.fullpage-slider {
  background: url(../img/layers/texture.png) #fff repeat;
  width: 100%;
  .carousel-item {
    img {
      height: 800px;
    }
    .carousel-caption {
      background-color: rgba(51, 51, 51, 0.3);
    }
  }
  .carousel-control-prev, .carousel-control-next{
    width: 5%;
    top: 50%;
    background-color: rgba(51, 51, 51, 0.3);
    transform: translateY(-50%);
  }
}

//
/*================================
           Info Setion
================================*/

.info {
  .col-4:nth-child(1) {
    border-right: 1px solid $main-grey;
  }
  .col-4:nth-child(2) {
    border-right: 1px solid $main-grey;
  }
  .info-table {
    .info-title {
      text-align: center;
      h1 {
        font-size: $ftz-20;
        font-weight: 600;
        line-height: 37px;
        color: $secondary-orange;
        border-bottom: 1px solid $secondary-grey;
        span,
        a {
          font-size: $ftz-18;
          color: $secondary-grey;
        }
      }
    }
    .info-list {
      list-style: none;
      padding: 0;
      li {
        a {
          color: $secondary-grey;
          cursor: pointer;
          font-size: $link-14;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//
/*================================
           Brands Setion
================================*/

.brands {
  .row-brands {
    padding: 35px 0;
    margin: 0;
    .owl-nav {
      display: flex;
      justify-content: center;
      width: 100%;
      .owl-prev,
      .owl-next {
        width: 40px;
        height: 40px;
        line-height: 30px;
        border: 1px solid $secondary-orange;
        margin: 0 5px;
        border-radius: 4px;
        outline: none;
        transition: 0.3s ease;
        &:hover {
          border: 1px solid $main-black;
          span {
            color: $main-black;
          }
        }
        span {
          transition: 0.3s ease;
          font-size: 30px;
          color: $secondary-orange;
        }
      }
    }
  }
  .brand-logo {
    padding: 20px;
    img {
      max-height: 160px;
    }
  }
}

//
/*================================
        Collaborators Setion
================================*/

.collaborators {
  .row-collaborators {
    padding: 35px 0;
  }
}

//
/*================================
        Partners Setion
================================*/

.partners {
  .row-partners {
    padding: 0 0 40px 0;
    align-items: center;
    .partners-logo {
      max-height: 300px;
    }
  }
}

//
/*================================
          Footer
================================*/

.footer {
  background-color: $secondary-grey;
  color: $main-white;
  .footer-row {
    padding: 20px 0px;
    .footer-menu-item {
      .footer-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: $ftz-18;
        margin-bottom: 15px;
      }
      ul {
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: $nav-16;
            color: $secondary-white;
            text-decoration: none;
            &:hover {
              color: $main-orange;
              transition: 0.3s ease;
            }
          }
          .social-icons {
            font-size: 30px;
          }
          .dropdown {
            .footer-dropdown {
              cursor: pointer;
            }
            .dropdown-menu {
              a {
                font-size: $nav-16;
                color: $main-black;
              }
              &::before {
                display: inline-block;
                position: absolute;
                top: -15px;
                left: 15%;
                width: 15px;
                height: 15px;
                content: '';
                border-top: 0;
                border-right: 0.5em solid transparent;
                border-bottom: 0.5em solid;
                border-left: 0.5em solid transparent;
                color: $main-white;
              }
            }
            &:hover .dropdown-menu {
              display: block;
              visibility: visible;
            }
          }
        }
      }
    }
    .about {
      font-size: $link-14;
      line-height: 20px;
      vertical-align: super;
      color: $main-white;
    }
    .apps {
      float: right;
      margin-top: 15px;
      .apps-slogan {
        float: left;
        margin-right: 15px;
        font-size: $link-14;
        line-height: 40px;
      }
    }
  }
}

//
/*================================
        Static Pages CSS
================================*/

@import 'pages/static';
//
/*================================
        Media Queries
================================*/

@import 'responsive';