/* Libraries */

@import 'libs';
/* Fonts */

@import 'fonts';
/* Global Styles */

@import 'global';
/*================================
          Begin of Header
================================*/

.header {
  background-color: $secondary-grey;
  nav {
    background-color: $secondary-grey;
    color: $secondary-white;
    height: 80px;
    font-size: $nav-16;
    .navbar-partners {
      margin-right: 30px;
    }
    .navbar-nav {
      .nav-link {
        color: $secondary-white;
        transition: 0.3s ease;
        &:hover {
          color: $main-orange;
        }
        .show {
          color: $main-white;
        }
      }
      span {
        line-height: 40px;
        padding: 1em;
      }
      .dropdown-menu {
        display: block;
        visibility: hidden;
        margin-top: 10px;
        .dropdown-item {
          font-size: $p-12;
        }
        &::before {
          display: inline-block;
          position: absolute;
          top: -15px;
          left: 15%;
          width: 15px;
          height: 15px;
          content: '';
          border-top: 0;
          border-right: 0.5em solid transparent;
          border-bottom: 0.5em solid;
          border-left: 0.5em solid transparent;
          color: $main-white;
        }
      }
      .nav-item {
        &:hover .dropdown-menu {
          display: block;
          visibility: visible;
          transition: 0.3s ease;
        }
      }
    }
  }
}

/* ======  End of Header  ====== */

/*================================
          Begin of Main
================================*/

@import 'pages/index';
@import 'pages/static';
/* ======  End of Main  ====== */

/*================================
          Begin of Footer
================================*/

.footer {
  background-color: $secondary-grey;
  color: $main-white;
  .footer-row {
    padding: 20px 0px;
    .footer-menu-item {
      .footer-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $link-14;
        margin-bottom: 15px;
      }
      ul {
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: $link-14;
            color: $secondary-white;
            text-decoration: none;
            &:hover {
              color: $main-orange;
              transition: 0.3s ease;
            }
          }
          .social-icons {
            font-size: 30px;
          }
          .dropdown {
            .footer-dropdown {
              cursor: pointer;
            }
            .dropdown-menu {
              a {
                font-size: $link-14;
                color: $main-black;
              }
              &::before {
                display: inline-block;
                position: absolute;
                top: -15px;
                left: 15%;
                width: 15px;
                height: 15px;
                content: '';
                border-top: 0;
                border-right: 0.5em solid transparent;
                border-bottom: 0.5em solid;
                border-left: 0.5em solid transparent;
                color: $main-white;
              }
            }
            &:hover .dropdown-menu {
              display: block;
              visibility: visible;
            }
          }
        }
      }
    }
    .about {
      font-size: $p-12;
      line-height: 20px;
      vertical-align: super;
      color: $main-white;
    }
    .apps {
      float: right;
      margin-top: 15px;
      .apps-slogan {
        float: left;
        margin-right: 15px;
        font-size: $link-14;
        line-height: 40px;
      }
    }
  }
}

/* ======  End of Footer  ====== */

/* Media queries */

@import 'responsive';
