<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>AMET | Manpower Equipment Transportation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="AMET, Manpower Equipment Transportation">
    <meta name="author" content="Ramil Mamedov">
    <meta name="theme-color" content="#ef7c00">
    <link rel="index" href="./">
    <link rel="canonical" href="./">
    <link rel="manifest" href="./manifest.json">
    <!-- Favicons -->
    <link rel="icon" href="./img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./img/favicons/favicon.png" type="image/png" sizes="32x32 16x16">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800,800i">
    <!-- StyleSheets -->
    <link rel="stylesheet" href="./css/main.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>