<!-- Textura Line -->
<div class="textura hidden-xs"></div>
<!-- /Textura Line -->
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="footer-menu-item">
                            <div class="footer-title hidden-xs">Company</div>
                            <ul>
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="safety-equipment.html">Safety Equipment</a>
                                </li>
                                <li>
                                    <a href="manpower.html">Manpower</a>
                                </li>
                                <li>
                                    <a href="consulting.html">Consulting</a>
                                </li>
                                <li>
                                    <a href="our-values.html">Our Values</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Menu Item - 1 -->
                    <div class="col-4">
                        <div class="footer-menu-item">
                            <div class="footer-title hidden-xs">Support</div>
                            <ul>
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li>
                                    <a href="tel:00994125309915">+994 (12) 530-99-15</a>
                                </li>
                                <li>
                                    <a href="tel:00994502255036">+994 (50) 225-50-36</a>
                                </li>
                                <li>
                                    <a href="mailto:office@ametsolution.com" target="_blank">info@ametsolution.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer-menu-item">
                            <div class="footer-title hidden-xs">Site Map</div>
                            <ul>
                                <li>
                                    <a href="services.html">Services</a>
                                </li>
                                <li>
                                    <a href="training.html">Training</a>
                                </li>
                                <li>
                                    <a href="certificates.html">Certificates</a>
                                </li>
                                <li>
                                    <a href="#">Transportation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row" style="justify-content: flex-end;">
                    <div class="col-6">
                        <div class="footer-menu-item" style="text-align: right;">
                            <div class="footer-title hidden-xs">Follow us</div>
                            <ul>
                                <li style="margin-bottom: 15px;">
                                    <a href="https://www.facebook.com/AMET-Services-LLC-387718594758749" class="social-icons" target="_blank">
                                        <i class="fa fa-facebook-official"></i>
                                    </a>
                                    <a href="https://www.facebook.com/AMET-Services-LLC-387718594758749" class="social-icons" target="_blank">
                                        <i class="fa fa-twitter-square"></i>
                                    </a>
                                    <a href="https://www.facebook.com/AMET-Services-LLC-387718594758749" class="social-icons" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li style="margin-bottom: 15px; float: right;">
                                    <select class="custom-select">
                                        <option selected="selected" disabled="disabled">Langueage</option>
                                        <option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; English</option>
                                        <option value="1">Azerbaijani</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-8">
                <div class="about">Copyright © 2018.
                    <br>We provide every customer with access to the best people, equipment and solutions in the industry. Deploy
                    the best people, equipment and solutions to enable our customers to safely build a better and stronger.</div>
            </div>
            <div class="col-4">
                <div class="apps">
                    <a href="./" class="mobile-download-icons mobile-apple no-kwtag">
                        <img class="img-fluid" src="img/logo.png" alt="" width="150" height="40">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->