@import "../vars";
@import "../mixins";
//
//Styles
.static-info-pages {
  margin: 50px 0px; //Title
  .static-title {
    font-size: $font-size-24px;
    font-weight: bold;
    color: $secondary-grey;
    h1 {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 2px solid $main-orange;
    }
  } //
  //Image
  .static-img {
    border: 2px solid $main-orange;
    margin: 30px 0px;
    img {
      width: -webkit-fill-available;
    }
  } //
  //Text
  .static-content {
    margin: 30px 0px;
    h3 {
      font-size: $font-size-18px;
      font-weight: 600;
      &::before {
        content: "◽ ";
      }
    }
    p {
    }
    .excerpt {
      text-indent: 20px;
      margin: 20px 0px;
      span {
        font-weight: bold;
      }
    }
    .excerpt-contact {
      margin: 20px 0px;
      a {
        color: $main-orange;
        text-decoration: none;
        font-size: 16px;
        transition: 0.3s ease;
        &:hover {
          color: $main-black;
        }
      }
    }
  } //
  // Page About Us
  .about-us {
  }
  // Page Safety Equipment
  .safety-equipment {
  }
  // Page Manpower
  .manpower {
  }
  // Consulting
  .consulting {
  }
  // Why AMET
  .why-amet {
  }
  // Our Values
  .our-values {
    .static-img {
      border: none;
      img {
        width: 100%;
      }
      h3 {
        font-size: $font-size-24px;
        margin: 20px 0;
        text-align: center;
        font-weight: 600;
      }
    }
    .value-h {
      text-align: center;
      margin: 20px 0px;
      font-size: 20px;
      font-weight: 600;
    }
  } //
  // Certificates
  .certificates {
    .certificate {
      padding: 20px;
      border: 2px solid $main-orange;
      span {
        display: block;
        text-align: center;
        font-weight: 600;
        margin-bottom: 15px;
        border-bottom: 1px solid $secondary-orange;
      }
    }
  } //
  // Page Contact
  .contact {
    .row {
      .col-6:first-child {
        position: relative;
      }
    }
    .static-content {
      margin: unset;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h3 {
        margin: 20px 0;
        font-size: $font-size-20px;
        font-weight: 600;
      }
      p {
        display: inline-block;
        cursor: pointer;
      }
      p,
      a {
        padding: 0;
        margin: 0;
        color: $secondary-orange;
        font-size: $font-size-20px;
        font-weight: 500;
        line-height: 21px;
        transition: 0.3s ease;
        &:hover {
          text-decoration: none;
          color: $main-black;
        }
        i {
          margin-left: 10px;
          font-size: 20px;
          color: $black;
        }
      }
    }
  }
}

// Page Services
.services {
  .row {
    padding: 30px 0;
  }
  .card {
    margin-bottom: 30px;
    .card-title {
      color: $main-orange;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
    }
    .card-body {
      min-height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .card-title:last-child {
      margin: 0 auto;
    }
    .card-link {
      display: block;
      width: 100%;
      text-align: center;
      font-size: $font-size-14px;
      color: $main-grey;
      transition: 0.3s ease;
      &:hover {
        color: rgb(78, 78, 107);
      }
    }
    img {
      height: 200px;
    }
  }
}

.safety-solution {
  .safety-items {
    margin-top: 50px;
    .item-headline {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      img {
        width: 300px;
        height: auto;
        margin-right: 35px;
      }
      .text {
        h4 {
          font-size: $font-size-20px;
          font-weight: 600;
          color: $main-black;
        }
        p {
          font-size: $font-size-16px;
        }
      }
    }
    .item-table {
      margin-top: 50px;
      border-bottom: 1px solid $secondary-orange;
      .row {
        justify-content: center;
        .media {
          margin: 30px;
          align-items: center;
          border: 1px solid $main-grey;
          border-radius: 10px;
          padding: 10px;
          .media-body {
            h5 {
              font-size: $font-size-16px;
              color: $main-black;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.background-overlay {
  min-height: 300px;
  margin: 30px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/public/13.jpg");
}

.equipments {
  .equipment-list {
    margin-top: 30px;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      .list-item {
        display: inline-block;
        width: 180px;
        height: 180px;
        border: 1px solid #acacac;
        border-radius: 5px;
        margin: 0 10px 50px;
        transition: 0.3s ease;
        a {
          display: block;
          margin-top: 5px;
          text-align: center;
          color: #acacac;
          transition: 0.3s ease;
          img {
          }
        }
        &:hover {
          border: 1px solid $main-orange;
        }
        &:hover a {
          color: $main-orange;
          text-decoration: none;
        }
      }
    }
  }
  .equipment-list-title {
    margin-top: 30px;
    h3 {
      font-size: $font-size-20px;
      border-bottom: 2px dashed $main-orange;
    }
  }
}

.equipment-inner {
  .equipment-types {
    margin-top: 40px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    li {
      width: 300px;
      height: 300px;
      margin-right: 50px;
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        span {
          padding: 10px;
          color: $white;
          font-size: $font-size-14px;
          font-weight: 300;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.7);
          transition: 0.3s ease;
        }
        &:hover span {
          color: $main-orange;
        }
      }
      &:last-child {
        margin-right: unset;
      }
    }
  }
}

.product-page {
  .product-img {
    width: 400px;
    height: 400px;
  }
  .product-description {
    .table {
      tbody {
        tr {
          td:first-child::after {
            content: ":";
          }
        }
      }
    }
  }
  .product-gallery {
    display: flex;
    justify-content: center;
  }
}
